/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.gitbitbucket
sftp-config*.json
phploy.*
*.sublime-project
*.sublime-workspace
/public/frontend/images/profile/*
!/public/frontend/images/profile/no_avatar.gif
functions/node_modules/*
functions/test.js
/nbproject/*
sql-examples.sql
laradock
firestore
